<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      
      <!-- Menu lateral -->
      <aside class="sidebar">
          <div class="logo-section">
              <img src="./images/teste1.png" alt="Logo PróFuturo" class="logo-image">
              <h2 class="logo">PróFuturo</h2>
          </div>
          
          <div class="itens">
              <a href="#" class="item"><i class="fa-solid fa-house"></i> Início</a>
              <a href="#" class="item"><i class="fa-solid fa-book"></i> Cursos</a>
              <a href="#" class="item"><i class="fa-solid fa-chart-bar"></i> Relatórios</a>
              <a href="#" class="item"><i class="fa-solid fa-gear"></i> Configurações</a>
              <button class="logout-button">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Sair</span>
              </button
          </div>
      </aside>


        <main class="main">
            <header class="header">
            <h2>Perfil</h2>
            </header>
    
            <!-- Seção de perfil -->
            <section class="profile">
    
            <h2 class="section-title">Meu Perfil</h2>
            
            <form>
                <input type="text" placeholder="Nome Completo">
                <input type="email" placeholder="Email">
                <input type="mumber" placeholder="Funcional">
                <input type="password" placeholder="Senha">
                <Select>
                <option value="" disabled selected>Tipo de Usuário</option>
                <option value="admin">Administrador</option>
                <option value="instrutor">RH</option>
                <option value="aluno">Instrutor</option>
                </Select>
                <button type="submit">Salvar</button>
            </form>
            </section>
    </div>
</body>
</html>