<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.gstatic.com https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/media.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/">
    <link rel="stylesheet" href="../assets/css/darkmode.css">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <!-- Menu lateral -->
      <aside class="sidebar">
        <div class="logo-section">
            <img src="../assets/images/teste1.png" alt="Logo PróFuturo" class="logo-image">
            <h2 class="logo">PróFuturo</h2>
        </div>
        
        <div class="itens">
            <a href="./userPage.html" class="item"><i class="fa-solid fa-house"></i> Início</a>
            <a href="./perfil.html" class="item"><i class="fa-solid fa-user"></i> Perfil</a>
            <a href="./cursos.html" class="item"><i class="fa-solid fa-book"></i> Cursos</a>
            <a href=".container" class="item"><i class="fa-solid fa-chart-bar"></i> Relatórios</a>
            <div class="item theme-switcher">
              <i class="fa-solid fa-moon"></i>
              <span>Dark Mode</span>
              <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider round"></span>
              </label>
            </div>
            <button class="logout-button">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Sair</span>
            </button>
        </div>
      </aside>

      <div class="report-option">
        <h3>Relatório de Média dos Cursos</h3>
        <p>Gera uma planilha com a média das notas finais dos alunos concluintes de cada curso.</p>
        <button id="btn-generate-course-average" class="btn">Gerar Relatório</button>
      </div>
    </div>
    
</body>
<script src="../js/darkmode.js"></script>
<script src="../js/relatorios.js"></script>
</html>