<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.gstatic.com https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/media.css">
    <link rel="stylesheet" href="../assets/css/userPage.css">
    <link rel="stylesheet" href="../assets/css/darkmode.css">
    <script src="../../../node_modules/chart.js/dist/chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div class="container">
      
      <!-- Menu lateral -->
      <aside class="sidebar">
          <div class="logo-section">
              <img src="../assets/images/teste1.png" alt="Logo PróFuturo" class="logo-image">
              <h2 class="logo">PróFuturo</h2>
          </div>
          
          <div class="itens">
              <a href="#" class="item"><i class="fa-solid fa-house"></i> Início</a>
              <a href="./perfil.html" class="item"><i class="fa-solid fa-user"></i> Perfil</a>
              <a href="#" class="item"><i class="fa-solid fa-book"></i> Cursos</a>
              <a href="#" class="item"><i class="fa-solid fa-chart-bar"></i> Relatórios</a>
              <div class="item theme-switcher">
                <i class="fa-solid fa-moon"></i>
                <span>Modo Escuro</span>
                <label class="switch">
                  <input type="checkbox" id="darkModeToggle">
                  <span class="slider round"></span>
                </label>
              </div>
              <button class="logout-button">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Sair</span>
              </button>
          </div>
      </aside>

      
      <main class="main">
        <header class="header">
          <h2>Dashboard</h2>
        </header>

        <!-- Seção de registro -->
        <section class="registration">

          <h2 class="section-title">Registro</h2>
          
          <form id="registration-form">
            <input type="text" id="regNome" placeholder="Nome Completo" required>
            <input type="text" id="regFuncional" placeholder="Funcional" required>
            <input type="email" id="regEmail" placeholder="Email" required>
            <input type="password" id="regPassword" placeholder="Senha" required>
            <select id="regRole" required>
              <option value="" disabled selected>Tipo de Usuário</option>
              <option value="TI">Administrador (TI)</option>
              <option value="RH">Recursos Humanos (RH)</option>
              <option value="Professor">Instrutor (Professor)</option>
              <option value="Aluno">Aluno</option>
            </select>
            <button type="submit">Salvar</button>
          </form>
        </section>

        <!-- Gestão de cursos -->
        <section class="courses">
            <h2>Meus Cursos</h2>
            <div class="courses-container">
              <!-- Os cards dos cursos serão inseridos aqui dinamicamente -->
            </div>
        </section>


        <!-- Dashboards -->
        <section class="chart">
          <h2 class="section-title">Gráficos Gerais</h2>
          <div class="charts">
            <div id="chart-box" class="chart-box">
              <canvas id="performanceChart"></canvas>
            </div>

            <div id="chart-box1" class="chart-box1">
              <canvas id="attendanceChart"></canvas>
            </div>
          </div>
        </section>
        
        <section id="area-criacao-cursos" style="display: none;">
          <h2>Criação de Novos Cursos</h2>
          
        </section>

        <section id="area-atribuicao-professores" style="display: none;">
          <h2>Atribuição de Professores</h2>
          
        </section>

      </main>
    </div>
  </body>
  <script src="../js/api.js"></script>
  <script src="../js/charts.js"></script>
  <script src="../js/userPage.js"></script>
</html>
